## Explore the data

In [1]:
import pandas as pd
import json
import os
#import os.path

## Exploration SONG_DATA

In [2]:
data_raw =[]
folder_path = "data/song_data"
for path, dirs, files in os.walk(folder_path):
    for filename in files:
        Mypath_filename = os.path.join(path, filename)
        with open(Mypath_filename) as f:
            data = json.load(f)
        data_raw.append(data)
dataSong = pd.DataFrame(data_raw)
dataSong.tail(2)

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
69,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
70,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007

In [12]:
print("DataSong Shape is {}".format(dataSong.shape))
lines = !find ./data/song_data -name \*.json | wc -l
print("DataSong (song_data) nb ligne in linux is {}".format(lines))
print(dataSong.dtypes)
# compter la repetition des valeurs 
print(dataSong.num_songs.value_counts())

DataSong Shape is (71, 10)
DataSong (song_data) nb ligne in linux is ['71']
num_songs             int64
artist_id            object
artist_latitude     float64
artist_longitude    float64
artist_location      object
artist_name          object
song_id              object
title                object
duration            float64
year                  int64
dtype: object
1    71
Name: num_songs, dtype: int64

## Exploration LOG_DATA

In [4]:
json_files = []
for dirpath, dirnames, filenames in os.walk("./data/log_data/"):
    for filename in [f for f in filenames if f.endswith(".json")]:
        path_file = os.path.join(dirpath, filename)
        json_files.append(path_file)

In [5]:
#df = pd.read_json(filepath, lines=True)
import json
data_raw = []
for filepath in json_files:
    for line in open(filepath, 'r'):
        data_raw.append(json.loads(line))
dataLog = pd.DataFrame(data_raw)    
dataLog.shape

(8056, 18)

589    128
984    118
324    114
672    107
293    106
      ...
587      1
234      1
125      1
230      1
6        1
Name: sessionId, Length: 941, dtype: int64

In [13]:
# formater la date d'un timestamp miliseconde en y, m, d, s ...
dataLog['ts'] = pd.to_datetime(dataLog['ts'], unit = 'ms')

In [15]:
print(dataLog.head(10))

                 artist       auth firstName gender  itemInSession lastName  \
0              Mudhoney  Logged In    Aleena      F             10    Kirby
1            Carpenters  Logged In    Aleena      F             11    Kirby
2                  None  Logged In    Aleena      F             12    Kirby
3         Kings Of Leon  Logged In    Aleena      F             13    Kirby
4  The Bloody Beetroots  Logged In    Aleena      F             14    Kirby
5         Kings Of Leon  Logged In    Aleena      F             15    Kirby
6           Euge Groove  Logged In    Aleena      F             16    Kirby
7               Soltero  Logged In    Aleena      F             17    Kirby
8               Nirvana  Logged In    Aleena      F             18    Kirby
9                  None  Logged In    Jayden      F              0    Duffy

      length level                     location method      page  \
0  231.57506  paid     Waterloo-Cedar Falls, IA    PUT  NextSong
1  238.39302  paid     Waterloo-Cedar Falls, IA    PUT  NextSong
2        NaN  paid     Waterloo-Cedar Falls, IA    GET      Home
3  185.28608  paid     Waterloo-Cedar Falls, IA    PUT  NextSong
4  201.97832  paid     Waterloo-Cedar Falls, IA    PUT  NextSong
5  201.79546  paid     Waterloo-Cedar Falls, IA    PUT  NextSong
6  265.48200  paid     Waterloo-Cedar Falls, IA    PUT  NextSong
7  249.07710  paid     Waterloo-Cedar Falls, IA    PUT  NextSong
8  257.01832  paid     Waterloo-Cedar Falls, IA    PUT  NextSong
9        NaN  free  Seattle-Tacoma-Bellevue, WA    GET      Home

   registration  sessionId                         song  status  \
0  1.541023e+12        637               Get Into Yours     200
1  1.541023e+12        637          Yesterday Once More     200
2  1.541023e+12        637                         None     200
3  1.541023e+12        637              Taper Jean Girl     200
4  1.541023e+12        637  Warp 1.9 (feat. Steve Aoki)     200
5  1.541023e+12        637                      Revelry     200
6  1.541023e+12        637                     Tenderly     200
7  1.541023e+12        637              Bleeding Hearts     200
8  1.541023e+12        637                      Lithium     200
9  1.540146e+12        635                         None     200

                       ts                                          userAgent  \
0 2018-11-16 00:00:57.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
1 2018-11-16 00:04:48.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
2 2018-11-16 00:04:51.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
3 2018-11-16 00:08:46.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
4 2018-11-16 00:11:51.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
5 2018-11-16 00:15:12.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
6 2018-11-16 00:18:33.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
7 2018-11-16 00:22:58.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
8 2018-11-16 00:27:07.796  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
9 2018-11-16 01:33:39.796  "Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...

  userId
0     44
1     44
2     44
3     44
4     44
5     44
6     44
7     44
8     44
9     76

In [11]:
equal_indices = []
for i in range(len(dataSong['artist_name'])):
    for j in range(len(dataLog['artist'])):
        if dataSong['artist_name'][i] == dataLog['artist'][j]:
            equal_indices.append(i)
            print(dataSong['artist_name'][i])

Tom Petty
Tom Petty
Tom Petty
Tom Petty
Line Renaud
Sophie B. Hawkins
Lupe Fiasco
Lupe Fiasco
Lupe Fiasco
Lupe Fiasco
Lupe Fiasco
Gwen Stefani
Trafik
Lionel Richie
Lionel Richie
Lionel Richie
Lionel Richie
Jimmy Wakely
Blue Rodeo
Elena
Gob

In [7]:
dataLog.dtypes

artist            object
auth              object
firstName         object
gender            object
itemInSession      int64
lastName          object
length           float64
level             object
location          object
method            object
page              object
registration     float64
sessionId          int64
song              object
status             int64
ts                 int64
userAgent         object
userId            object
dtype: object

### About artist and song
num_songs = integer  (i don't know what is it)
#artist_id = SONGPLAYS ARTISTS 'artist_id' text
#artist_latitude = ARTISTS 'latitude' numeric	
#artist_longitude = ARTISTS 'longitude' numeric
#artist_location =  ARTISTS 'location' text	
#artist_name = ARTISTS 'name' text
#song_id = SONGPLAYS SONGS 'song_id' text
#title = SONGS 'title' text
#duration = SONGS 'duration' numeric
#year = SONGS 'year' integer

### About log
artist = text  
auth = text  
#firstName = USERS 'first_name' text  
#gender = USERS 'gender' text  
itemInSession = interger  
#lastName = USERS 'last_name' text  	
length = numeric  
#level = SONGPLAYS USERS 'level' text  
#location =	SONGPLAYS 'location' text  
method = text  
page = text  
registration = integer   	
#sessionId = SONGPLAYS 'session_id' integer  
song = text  
status = integer  
#ts = SONGPLAYS TIME 'start_time' integer  
#userAgent = SONGPLAYS 'user_agent' text  
#userId = SONGPLAYS USERS 'user_id' integer

Apres analyse des donnees avec python, toutes les donnees a rentrer dans la table d'apres les 2 data set on ete trouve
exepte:  
* SONGPLAYS songplay_id
* TIME hour
* TIME day
* TIME week
* TIME month
* TIME year
* TIME weekday