## Explore the data

In [2]:
import pandas as pd
import json
import os
#import os.path

## Exploration SONG_DATA

In [3]:
data_raw =[]
folder_path = "data/song_data"
for path, dirs, files in os.walk(folder_path):
    for filename in files:
        Mypath_filename = os.path.join(path, filename)
        with open(Mypath_filename) as f:
            data = json.load(f)
        data_raw.append(data)
dataSong = pd.DataFrame(data_raw)
dataSong.tail(2)

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
69,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
70,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007

In [4]:
print("DataSong Shape is {}".format(dataSong.shape))
lines = !find ./data/song_data -name \*.json | wc -l
print("DataSong (song_data) nb ligne in linux is {}".format(lines))
print(dataSong.dtypes)
# compter la repetition des valeurs 
print(dataSong.num_songs.value_counts())

DataSong Shape is (71, 10)
DataSong (song_data) nb ligne in linux is ['71']
num_songs             int64
artist_id            object
artist_latitude     float64
artist_longitude    float64
artist_location      object
artist_name          object
song_id              object
title                object
duration            float64
year                  int64
dtype: object
1    71
Name: num_songs, dtype: int64

In [16]:
dataSong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 10 columns):
num_songs           71 non-null int64
artist_id           71 non-null object
artist_latitude     31 non-null float64
artist_longitude    31 non-null float64
artist_location     71 non-null object
artist_name         71 non-null object
song_id             71 non-null object
title               71 non-null object
duration            71 non-null float64
year                71 non-null int64
dtypes: float64(3), int64(2), object(5)
memory usage: 5.7+ KB

## Exploration LOG_DATA

In [6]:
json_files = []
for dirpath, dirnames, filenames in os.walk("./data/log_data/"):
    for filename in [f for f in filenames if f.endswith(".json")]:
        path_file = os.path.join(dirpath, filename)
        json_files.append(path_file)

In [7]:
#df = pd.read_json(filepath, lines=True)
import json
data_raw = []
for filepath in json_files:
    for line in open(filepath, 'r'):
        data_raw.append(json.loads(line))
dataLog = pd.DataFrame(data_raw)    
dataLog.shape

(8056, 18)

In [17]:
dataLog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8056 entries, 0 to 8055
Data columns (total 18 columns):
artist           6820 non-null object
auth             8056 non-null object
firstName        7770 non-null object
gender           7770 non-null object
itemInSession    8056 non-null int64
lastName         7770 non-null object
length           6820 non-null float64
level            8056 non-null object
location         7770 non-null object
method           8056 non-null object
page             8056 non-null object
registration     7770 non-null float64
sessionId        8056 non-null int64
song             6820 non-null object
status           8056 non-null int64
ts               8056 non-null datetime64[ns]
userAgent        7770 non-null object
userId           8056 non-null object
dtypes: datetime64[ns](1), float64(2), int64(3), object(12)
memory usage: 1.1+ MB

In [8]:
# formater la date d'un timestamp miliseconde en y, m, d, s ...
dataLog['ts'] = pd.to_datetime(dataLog['ts'], unit = 'ms')

In [18]:
print(dataLog.head(3))

       artist       auth firstName gender  itemInSession lastName     length  \
0    Mudhoney  Logged In    Aleena      F             10    Kirby  231.57506
1  Carpenters  Logged In    Aleena      F             11    Kirby  238.39302
2        None  Logged In    Aleena      F             12    Kirby        NaN

  level                  location method      page  registration  sessionId  \
0  paid  Waterloo-Cedar Falls, IA    PUT  NextSong  1.541023e+12        637
1  paid  Waterloo-Cedar Falls, IA    PUT  NextSong  1.541023e+12        637
2  paid  Waterloo-Cedar Falls, IA    GET      Home  1.541023e+12        637

                  song  status                      ts  \
0       Get Into Yours     200 2018-11-16 00:00:57.796
1  Yesterday Once More     200 2018-11-16 00:04:48.796
2                 None     200 2018-11-16 00:04:51.796

                                           userAgent userId
0  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...     44
1  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...     44
2  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...     44

In [10]:
equal_indices = []
for i in range(len(dataSong['artist_name'])):
    for j in range(len(dataLog['artist'])):
        if dataSong['artist_name'][i] == dataLog['artist'][j]:
            equal_indices.append(i)
            print(dataSong['artist_name'][i])

Tom Petty
Tom Petty
Tom Petty
Tom Petty
Line Renaud
Sophie B. Hawkins
Lupe Fiasco
Lupe Fiasco
Lupe Fiasco
Lupe Fiasco
Lupe Fiasco
Gwen Stefani
Trafik
Lionel Richie
Lionel Richie
Lionel Richie
Lionel Richie
Jimmy Wakely
Blue Rodeo
Elena
Gob

In [7]:
dataLog.dtypes

artist            object
auth              object
firstName         object
gender            object
itemInSession      int64
lastName          object
length           float64
level             object
location          object
method            object
page              object
registration     float64
sessionId          int64
song              object
status             int64
ts                 int64
userAgent         object
userId            object
dtype: object

### About artist and song
num_songs = integer  (i don't know what is it)
#artist_id = SONGPLAYS ARTISTS 'artist_id' text
#artist_latitude = ARTISTS 'latitude' numeric	
#artist_longitude = ARTISTS 'longitude' numeric
#artist_location =  ARTISTS 'location' text	
#artist_name = ARTISTS 'name' text
#song_id = SONGPLAYS SONGS 'song_id' text
#title = SONGS 'title' text
#duration = SONGS 'duration' numeric
#year = SONGS 'year' integer

### About log
artist = text  
auth = text  
#firstName = USERS 'first_name' text  
#gender = USERS 'gender' text  
itemInSession = interger  
#lastName = USERS 'last_name' text  	
length = numeric  
#level = SONGPLAYS USERS 'level' text  
#location =	SONGPLAYS 'location' text  
method = text  
page = text  
registration = integer   	
#sessionId = SONGPLAYS 'session_id' integer  
song = text  
status = integer  
#ts = SONGPLAYS TIME 'start_time' integer  
#userAgent = SONGPLAYS 'user_agent' text  
#userId = SONGPLAYS USERS 'user_id' integer

Apres analyse des donnees avec python, toutes les donnees a rentrer dans la table d'apres les 2 data set on ete trouve
exepte:  
* SONGPLAYS songplay_id
* TIME hour
* TIME day
* TIME week
* TIME month
* TIME year
* TIME weekday