## PostgreSql

Pstgresql utilise modele client/serveur  
* Processus serveur --> gere fichier Bdd, accepte connexion de appli clientes, effectue action sur la base  
* Application cliente --> veut effectuer operation sur bdd, Ac peut etre outil texte, appli graphiq, serveur web  

client et serveur possible sur hote different --> commmunique par TCP/IP  
multiple connexion possible en meme temps, nv processus pour chaque connexion

**Creation base de donnees** `createdb ma_base`

**Detruire Base de donnees** `dropdb ma_base`

**Acceder a une base**  
* lancer editeur commande `psql ma_base`
* `SELECT version();`
* `SELECT current_date;`
* commande interne `\h`
    *`\h` help
    *`\q` sortir de psql

## Apache Cassandra

* Espace cle: conteneur le plus externe pour C, collection de familles de colonnes
* Famille de colonne: collection de lignes, cq ligne collection de colonne
* Colonne, unites de base, trois valeurs
    * nom de la cle ou dela colonne
    * valeur de la colonne
    * horodatage
* Super-colonne, stoc une carte d'autre colonne

* `cassandra` pour demarrer
* `/opt/cassandra/bin/nodetool status` pour verifier que cassandra fonctionne
*

creer un key espace k1 sans authification d'utilisateur  
`cqlsh localhost -e "CREATE KEYSPACE IF NOT EXISTS k1 WITH replication = {'class': 'SimpleStrategy', 'replication_factor': '1'}  AND durable_writes = true;"`

creer un key espace k1 avec authentification  
`cqlsh -u <username> -p <password> localhost -e "CREATE KEYSPACE IF NOT EXISTS k1 WITH replication = {'class': 'SimpleStrategy', 'replication_factor': '1'}  AND durable_writes = true;"`

ou lancer invite cqlsh  
`cqlsh -u <username> -p <password> localhost`  
puis executer des requetes  
`CREATE KEYSPACE IF NOT EXISTS k1 WITH replication = {'class': 'SimpleStrategy', 'replication_factor': '1'}  AND durable_writes = true;`

indiquer quel espace key a cqlsh  
`USE k1;`

creer une table, eqv famille de colonnes, +rs types de donnees  
`CREATE TABLE person (
    id text,
    name text,
    surname text,
    PRIMARY KEY (id));`

verifier creation de la struc de la table, visualiser la struct  
`DESCRIBE person;`

modifier la table et ajouter un champ  
`ALTER TABLE person ADD email text;`

selectionner des colonnes et visualiser
`SELECT * FROM person`

insere donnes  
`INSERT INTO person (id, name, surname, email) VALUES ('001', 'Shalabh', 'Aggarwal', 'contact@shalabhaggarwal.com');`

mettre a jour les valeurs  
`UPDATE person SET email='shalabh.agrwal@gmail.com' WHERE id='001';`

recherche des donnees  
`SELECT name FROM person WHERE id='001';`  
`SELECT name FROM person WHERE id IN ('001', '002');`

![documentation NoSql Apache Cassandra](https://mbaron.developpez.com/tutoriels/nosql/cassandra/installation-outils-administration/)

## CASSANDRA lesson 3

* import cassandra  
* from cassandra.cluster import Cluster  
* cluster = Cluster(['127.0.0.1'])  
* session = cluster.connect()  
* session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""  
* session.set_keyspace('udacity')

We want to ask 3 questions of our data
* Give every album in the music library that was released in a given year select * from music_library WHERE YEAR=1970

* Give every album in the music library that was created by a given artist select * from artist_library WHERE artist_name="The Beatles"

* Give all the information from the music library about a given album select * from album_library WHERE album_name="Close To You"

The music library table will be partitioned by year that will become the partition key, and artist name will be the clustering column to make each Primary Key unique.   
The artist library table will be partitioned by artist name that will be the partition key, and year will be the clustering column to make each Primary Key unique. More on Primary keys in the next lesson and demo.   
The album library table will be partitioned by album name that will be the partition key, and artist will be the clustering colum to make each Primary Key unique.

## create tables

* query = "CREATE TABLE IF NOT EXISTS music_library "
* query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"

* query = "CREATE TABLE IF NOT EXISTS artist_library "
* query = query + "(artist_name text, year int, album_name text, PRIMARY KEY (artist_name,  year))"

* query = "CREATE TABLE IF NOT EXISTS album_library "
* query = query + "(artist_name text, album_name text, year int, PRIMARY KEY (album_name, artist_name))"

## insert data

* query = "INSERT INTO music_library (year, artist_name, album_name)"
* query = query + " VALUES (%s, %s, %s)"

* query1 = "INSERT INTO artist_library (artist_name, year, album_name)"
* query1 = query1 + " VALUES (%s, %s, %s)"

* query2 = "INSERT INTO album_library (album_name, artist_name, year)"
* query2 = query2 + " VALUES (%s, %s, %s)"

* session.execute(query, (1970, "The Beatles", "Let it Be"))
* session.execute(query, (1965, "The Beatles", "Rubber Soul"))

* session.execute(query1, ("The Monkees", 1966, "The Monkees"))
* session.execute(query1, ("The Who", 1965, "My Generation"))

* session.execute(query2, ("Let it Be", "The Beatles", 1970))
* session.execute(query2, ("My Generation", "The Who", 1965))

## validate data model

* query = "select * from music_library WHERE YEAR=1970"
* rows = session.execute(query)
* for row in rows:
    print (row.year, row.artist_name, row.album_name,)

* query = "select * from artist_library WHERE ARTIST_NAME='The Beatles'"
* rows = session.execute(query)
* for row in rows:
    print (row.artist_name, row.year, row.album_name)
    
* query = "select * from album_library WHERE ALBUM_NAME='Close To You'"
* rows = session.execute(query)
* for row in rows:
    print (row.artist_name, row.year, row.album_name)
    
## drop table 

* query = "drop table music_library"
* rows = session.execute(query)

* query = "drop table album_library"
* rows = session.execute(query)

* query = "drop table artist_library"
* rows = session.execute(query)