## Explore the data

In [56]:
import pandas as pd
import json
import os
import glob

## Exploration SONG_DATA

In [26]:
data_raw =[]
folder_path = "data/song_data"
for path, dirs, files in os.walk(folder_path):
    for filename in files:
        Mypath_filename = os.path.join(path, filename)
        with open(Mypath_filename) as f:
            data = json.load(f)
        data_raw.append(data)
dataSong = pd.DataFrame(data_raw)
dataSong.tail(10)

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
61,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0
62,1,ARGSJW91187B9B1D6B,35.21962,-80.01955,North Carolina,JennyAnyKind,SOQHXMF12AB0182363,Young Boy Blues,218.77506,0
63,1,AR8ZCNI1187B9A069B,NaN,NaN,,Planet P Project,SOIAZJW12AB01853F1,Pink World,269.81832,1984
64,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982
65,1,ARNTLGG11E2835DDB9,NaN,NaN,,Clp,SOUDSGM12AC9618304,Insatiable (Instrumental Version),266.39628,0
66,1,ARKRRTF1187B9984DA,NaN,NaN,,Sonora Santanera,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0
67,1,AR10USD1187B99F3F1,NaN,NaN,"Burlington, Ontario, Canada",Tweeterfriendly Music,SOHKNRJ12A6701D1F8,Drop of Rain,189.57016,0
68,1,ARD0S291187B9B7BF5,NaN,NaN,Ohio,Rated R,SOMJBYD12A6D4F8557,Keepin It Real (Skit),114.78159,0
69,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
70,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007

In [52]:
print("DataSong Shape is {}".format(dataSong.shape))
lines = !find ./data/song_data -name \*.json | wc -l
print("DataSong (song_data) nb ligne in linux is {}".format(lines))
print(dataSong.dtypes)
# compter la repetition des valeurs 
print(dataSong.artist_name.value_counts())

DataSong Shape is (71, 10)
DataSong (song_data) nb ligne in linux is ['71']
num_songs             int64
artist_id            object
artist_latitude     float64
artist_longitude    float64
artist_location      object
artist_name          object
song_id              object
title                object
duration            float64
year                  int64
dtype: object
Casual                       2
Clp                          2
Gwen Stefani                 1
Chase & Status               1
Richard Souther              1
                            ..
Soul Mekanik                 1
Gloriana                     1
The Dillinger Escape Plan    1
Lupe Fiasco                  1
Mitch Ryder                  1
Name: artist_name, Length: 69, dtype: int64

## Exploration LOG_DATA

In [77]:
data_Log =[]
file_list =[]
path_to_json = "data/log_data"
json_files = [file_json for file_json in os.listdir(path_to_json) if file_json.endswith('.json')]
for file in json_files:
    data = pd.read_json(file, lines=True)
    data_Log = data_Log.append(data)

[]

In [76]:
data_Log =[]
file_list =[]
folder_path = "data/log_data"
for path, dirs, files in os.walk(folder_path):
    for filename in files:
        Mypath_filename = os.path.join(path, filename)
        print(Mypath_filenme)
        file_list = file_list.append(Mypath_filename)
print(file_list)
for file in file_list:
    data = pd.read_json(file, lines=True)
    data_Log = data_Log.append(data)

[]

In [75]:
dataLog.dtypes

Series([], dtype: object)

### About artist and song
num_songs = integer
#artist_id = SONGPLAYS ARTISTS artist_id text
#artist_latitude = ARTISTS latitude numeric	
#artist_longitude = ARTISTS longitude numeric
#artist_location =  ARTISTS location text	
#artist_name = ARTISTS name text
#song_id = SONGPLAYS SONGS song_id text
#title = SONGS text
#duration = SONGS numeric
#year = SONGS integer

### About log
artist = ARTISTS name text  
auth = text  
firstName = USERS first_name text  
gender = USERS gender text  
itemInSession = interger  
lastName = USERS last_name text  	
length = numeric  
level = text  
location =	text  
method = text  
page = text  
registration = integer   	
sessionId = integer  
song = text  
status = integer  
ts = integer  
userAgent = text  
userId = integer